
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        <h1> summary of session counter : @Session["counter"]</h1>
        <h1>summary of application counter :@Context.Application["counter"] </h1>
        @Html.ActionLink("go to session", "Index", "sessionVM");
        @Html.ActionLink("go to application", "Index", "Application");

    </div>
</body>
</html>
